RewriteEngine On

RewriteCond %{HTTP:Accept-Language} ^ru [NC]
RewriteRule ^$ http://rentcarisrael.info/ru/ [L,R=301]

RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ http://rentcarisrael.info/en/ [L,R=301]

RewriteCond %{HTTP:Accept-Language} ^he [NC]
RewriteRule ^$ http://rentcarisrael.info/he/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(ru|en|he)/?$ index.html?lang=$1 [QSA,NC,L]
